beautifulsoup4==4.8.1
blivet==3.1.6
chardet==3.0.4
dbus-python==1.2.8
decorator==4.4.0
distro==1.4.0
gpg==1.13.1
idna==2.8
initial-setup==0.3.76
isc==2.0
langtable==0.0.48
libcomps==0.1.14
ntplib==0.3.3
ordered-set==3.1
pid==2.2.3
ply==3.11
productmd==1.23
psutil==5.6.3
pwquality==1.4.2
pydbus==0.6.0
PyGObject==3.34.0
pykickstart==3.21
pyparted==3.11.2
PySocks==1.7.0
python-dateutil==2.8.0
python-meh==0.48
pytz==2019.2
pyudev==0.21.0
requests==2.22.0
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.15.1
selinux==2.9
sepolicy==1.1
setools==4.2.2
simpleline==1.6
six==1.12.0
slip==0.6.4
slip.dbus==0.6.4
soupsieve==1.9.5
systemd-python==234
ufw==0.35
urllib3==1.25.7
virtualenv==16.6.1
